{% extends "poems/layout.html" %}

{% block body %}
    <div class="container">
        <div class="Header">
            <h2>Create..</h2>
        </div>


        {% if message %}
            <div class="card m-2 bg-dark text-white">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="quote-Wrapper m-2 text-center">
           
                <p>
                    <i class="fas fa-quote-left"></i>
                    some winters will never melt

                    
                    some summers
                    will never freeze
    
                    and some things will only
                    live in poems.
                    <i class="fas fa-quote-right"></i>
                </p>
                
                
            </div>
            <!-- <div class="col-lg-12 col-sm-12 login-quote">   
               <ul>
               <li style="list-style: none;"> the fields in this step are not mandatory </li>
               
               <li  style="list-style: none;"> when uploading a cover image we recommend a 614x900 portrait</li>
              
                </ul>
            </div> -->

            <form action="{% url 'create' %}" method="post" class="col-lg-12 col-sm-12 m-2" id='form-2' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="title" placeholder="Give a title to your poem ...">
                </div>
                <div class="form-group">
                    <textarea class="form-control text-area" autofocus type="text" name="discription" placeholder="Add a discription to your poem .."></textarea>
                </div>
                <input type="hidden" name='pk' value={{ pk }}>
                <input type="hidden" name='part' value="part-2">
                
                <label for="inputfd">Publish?</label>
                    <select  id="inputfd" name='publish' form="form-2">
                    <option value="Yes">Yes !!</option>
                    <option value="no">No, its not finshed yet!!</option>
                </select>
                <input type="file" accept="/image*" id='xfile' name='file' class="hidden-stuff">
                <label for="xfile"> <i class="fas fa-camera col-12" id='upload_image'> Add a cover image</i></label>
                <input class="btn btn-block btn-outline-dark" type="submit" value="All Done...">
            </form>
            
        </div>
    </div>
{% endblock %}