{% extends "poems/layout.html" %}

{% block body %}
    <div class="container">
        <div class="Header">
            <h2>Create..</h2>
        </div>


        {% if message %}
            <div class="card m-2 bg-dark text-white">
                <div class="card-body">
                    {{ message }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="quote-Wrapper m-2 text-center">
           
                <p>
                    <i class="fas fa-quote-left"></i>
                    some winters will never melt

                    
                some summers
                will never freeze
    
                    and some things will only
                    live in poems.
                    <i class="fas fa-quote-right"></i>
                </p>
                
                
            </div>

            <form action="{% url 'create' %}" method="post" class="col-lg-12 col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control text-area"  name="content" placeholder="Pour your creativity here.."></textarea>
                </div>
                <input type="hidden" name='part' value="part-1">
                <input class="btn btn-block btn-outline-dark" type="submit" value="Save and Next">
            </form>
            
        </div>
    </div>
{% endblock %}