{% extends "poems/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Create .. </h2>

        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12 col-sm-12 login-quote">
                “some winters
                will never melt

                some summers
                will never freeze

                and some things will only
               live in poems.” 
            </div>

            <form action="{% url 'create' %}" method="post" class="col-lg-12 col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control cus-textarea"  name="content" placeholder="Pour your creativity here.."></textarea>
                </div>
                <input type="hidden" name='part' value="part-1">
                <input class="cus-button" type="submit" value="Save and Next">
            </form>
            
        </div>
    </div>
{% endblock %}