{% extends "poems/layout.html" %}

{% block body %}
    <div class="container-xl container-lg container-md container-sm">
        <h1  class='opening'style="padding: 10px;">Poems & poets</h1>
        <div class="login-quote">
            “Poetry is ordinary language raised to the Nth power.
             Poetry is boned with ideas, nerved and blooded with emotions,
              all held together by the delicate, tough skin of words.”
            
        </div>

        <h1 style="padding: 10px;">Discover...</h1>
        

        <div class="row">
            {% for i in posts %}
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="{{i.cover_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.discription}}</p>
                  <h6>by {{i.user.username}}</h6>
                  <button class="cus-button-2"><a href="#" >view-poem</a></button>
                </div>
              </div>


            {% endfor %}
        </div>
    
    
    </div>

    <nav style="padding-top: 10px;">
        <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a href ="?page={{ posts.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-arrow-left"></i></span>
            </li>
        {% endif %}
         
        {% for i in posts.paginator.page_range %}
            {% if i == posts.number %}
                <li class="page-item active">
                <span class="page-link">
                  {{ i }}
                <span class="sr-only">(current)</span>
                </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
                   
        {% endfor %}  
        {% if posts.has_next %}
            <li class="page-item">
                <a href ="?page={{ posts.next_page_number }}" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-arrow-right"></i></span>
            </li>
        {% endif %}
          
        </ul>
    </nav>

{% endblock %}