{% extends "poems/layout.html" %}

{% block body %}
    <div class="container-xl container-lg container-md container-sm">
        <div class="m-2">
            <h1  class='Header'style="padding: 10px;">Poems & Poets</h1>
        </div>
        
        <div class="quote-Wrapper m-2 text-center">
           
            <p>
                <i class="fas fa-quote-left"></i>
                Poetry is ordinary language raised to the Nth power.
            </p>
            <p>
                Poetry is boned with ideas, nerved and blooded with emotions,

            </p>
            <p>
                all held together by the delicate, tough skin of words.
                <i class="fas fa-quote-right"></i>
            </p>
            
            
        </div>
        
        <div class="m-2 py-2">
            <h1>Discover...</h1>
        </div>
      

        <!-- <div class="row"> -->
            <div class="row row-cols-2 row-cols-md-3  row-cols-lg-4">
            {% for i in posts %}
            <!-- <div class="col-md-4 col-sm-12"> -->
                <div class="col mb-4">
                <div class="card">
                <img src="{{i.cover_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.discription|truncatechars:50 }}</p>
                  <h6 class="m">By <a style='text-decoration: none; color: blue;padding:2px;' href="{% url 'profile' i.user.pk %}">{{i.user.username}}</a></h6>
                  <button class="btn btn-outline-dark  btn-block"><a href="{% url 'poem_view' i.pk %}" >view-poem</a></button>
                </div>
                </div>
              </div>
            {% empty %}
            <h4>Its empty here!</h4>

            {% endfor %}
        </div>
    
    
    </div>

    <nav style="padding-top: 10px;">
        <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a href ="?page={{ posts.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-arrow-left"></i></span>
            </li>
        {% endif %}
         
        {% for i in posts.paginator.page_range %}
            {% if i == posts.number %}
                <li class="page-item active">
                <span class="page-link">
                  {{ i }}
                <span class="sr-only">(current)</span>
                </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
                   
        {% endfor %}  
        {% if posts.has_next %}
            <li class="page-item">
                <a href ="?page={{ posts.next_page_number }}" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-arrow-right"></i></span>
            </li>
        {% endif %}
          
        </ul>
    </nav>

{% endblock %}