{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta data -->
        <meta charset="UTF-8">
        <meta name='viewport' content="width-device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <!-- title -->
        <title>{% block title %}POETS&POETS{% endblock %}</title>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
              
        <!--fontawsome-->
        <script src="https://kit.fontawesome.com/20194dd017.js" crossorigin="anonymous"></script>
        <!--css-->
        <link href="{% static 'poems/styles.css' %}" rel="stylesheet">
        <!--google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">    
    <body>
        <!-- nav-bar -->
        <nav>
            <div class="custom-logo">
                <h4>Poets&Poems</h4>
            </div>
            <ul class="cus-nav-links">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.pk %}">You</a></li>
                    <li><a href="{% url 'create' %}">Create</a></li>
                    <li><a href="{% url 'library_view' %}">Libary</a></li>
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LogIn</a></li>
                    <li><a href="{% url 'register' %}">SignUp</a></li>
                {% endif %}
            </ul>
            <div class="cus_burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
        </nav>

        <!-- body -->
        {% block body %}
        {% endblock %}

        <!-- loading scripts -->
        <script src="{% static 'poems/index.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
    </body>