{% extends "poems/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Login</h2>

        {% if message %}
            <div class="message">{{ message }}</div>
        {% endif %}

        <div class="row">
            <div class="col-lg-4 col-sm-12 login-quote">
                “some winters
                will never melt

                some summers
                will never freeze

                and some things will only
               live in poems.” 
            </div>

            <form action="{% url 'login' %}" method="post" class="col-lg-8 col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="cus-button" type="submit" value="Log-in">
                <p style="padding: 5px;">Wanna express yourself ,But have an account?<a href="#">register here!</a></p>
            </form>
            
        </div>
    </div>
{% endblock %}