nav {

    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
    height: 8vh;
    background-color: #F6F6F6;
}

.Header {
    font-family: 'Montserrat', sans-serif;
    padding: 1.5em;
}

.login-quote{
    padding-bottom: 1.5rem;
}


.form-data {
    font-family: 'Montserrat', sans-serif !important;
}
.quote-Wrapper {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.8rem;
}
.h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.5rem;
}
.card{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    padding: 1.5rem;
}
.card-img-top:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .1s;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.image{
    width: 100%;
    height: auto;
}

.TitleWrapper{
    padding: 1.5rem;
}

.tool-items {
    display: flex;
}
.tool-items li {
    list-style: none;
    margin: 1rem;
}

.tool-items li :hover{
    cursor: pointer;
    font-size: large;
}
.text-area{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    height: 80vh;
}

.hidden-stuff{
    display: none;
}
